$color-main: #0ec79b;
$color-text: #1a1e21;
/* ------------------------------------------------ */

$font-main: "Open Sans", sans-serif;
$font-secondary: "Lato", sans-serif;

/* ------------------------------------------------ */

$mobile-width: "min-width: 576px";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";
$big-desktop-width: "min-width: 1920px";

/* ------------------------------------------------ */

$retina: "min-resolution: 144dpi";
$retina2: "min-resolution: 1.5dppx";
