.form {
  display: none;
  position: absolute;
    top: 100px;
    z-index: 101;
    width: 100%;
    background-color: #fff;
  &--open {
    display: block;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {
  .form {
    width: 650px;
    left: 50%;
    margin-left: -325px;
  }
}
@media ($desktop-width) {

}
@media ($big-desktop-width) {

}
