.products {
  background-image: url('../img/screen2_1m.png');
  background-repeat: no-repeat;
  background-position: left center;
  &__wrapper {
    @include container;
  }
  &__title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    text-align: center;
    transition-duration: 0.3s;
  }
  &__items {
    padding-top: 20px;
    &_wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    background-color: rgba(255,255,255,0.8);
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    &_img {
      width: 100px;
      height: 100px;
      display: block;
      transition-duration: 0.3s;
    }
    &_descr {
      font-weight: 300;
      font-size: 14px;
      line-height: 23px;
      color: $color-text;
      opacity: 0.5;
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      .products__item_title {
        color: #ff3d01;
      }
      .products__item_img {
        transform: scale(1.1);
      }
    }
    &--1 {
      order: 1;
    }
    &--2 {
      order: 3;
    }
    &--3 {
      order: 9;
    }
    &--4 {
      order: 2;
    }
    &--5 {
      order: 5;
    }
    &--6 {
      order: 9;
    }
    &--7 {
      order: 5;
    }
    &--8 {
      order: 6;
    }
    &--9 {
      order: 9;
    }
  }
  &__card {
    background-color: #fff;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    cursor: default;
    position: relative;
    overflow-y: scroll;
    &--open {
      display: block;
    }
    &_title {
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.35em;
      text-transform: uppercase;
      margin-top: 0;
      padding-right: 30px;
    }
    &_block {
      display: flex;
      flex-wrap: wrap;
    }
    &_price-block {
      order: 1;
      width: 100%;
      border-bottom: 1px solid;
      border-top: 1px solid;
      padding-bottom: 20px;
    }
    &_content {
      order: 2;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
    }
    &_price {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.35em;
      text-transform: uppercase;
      color: #ff3d01;
    }
    &_btn {
      display: block;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border-radius: 3px;
      border: 1px solid;
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 10px;
      max-width: 250px;
      cursor: pointer;
      transition-duration: 0.3s;
      &--green {
        background: $color-main;
        color: #fff;
        &:hover {
          background-color: transparent;
          color: $color-main;
        }
      }
      &--transparent {
        border-color: $color-main;
        color: $color-main;
        &:hover {
          background-color: $color-main;
          color: #fff;
        }
      }
    }
    &_download {
      color: $color-main;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      display: block;
      padding-left: 25px;
      position: relative;
      &::before {
        content: '';
        width: 16px;
        height: 20px;
        position: absolute;
        background-image: url(../img/icons/file.svg);
        background-size: contain;
        left: 0;
        top: 3px;
      }
    }
    &_btn-close {
      width: 20px;
      height: 20px;
      background-image: url('../img/icons/cross.svg');
      background-size: contain;
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
      transition-duration: 0.3s;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}
@media ($mobile-width) {
  .products {
    &__items {
      &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    &__item {
      width: 48%;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 19px;
    }
  }
}
@media ($tablet-width) {
  .products {
    &__title {
      font-size: 34px;
      line-height: 52px;
    }
    &__items {
      &_wrapper {
        display: flex;
        width: 100%;
      }
    }
  }
}
@media ($desktop-width) {
  .products {
    height: 100vh;
    display: flex;
    align-items: center;
    background: none;
    &__wrapper {
      padding-top: 80px;
    }
    &__title {
      line-height: 46px;
      text-align: left;
    }
    &__items {
      padding-top: 0;
    }
    &__item {
      background-color: transparent;
      width: 31%;
      padding: 10px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 10px;
      }
      &_img {
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
        margin-right: 20px;
      }
      &_title {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0;
      }
      &_descr {
        font-size: 14px;
        margin-top: 10px;
      }
      &--1 {
        order: 1;
      }
      &--2 {
        order: 2;
      }
      &--3 {
        order: 3;
      }
      &--4 {
        order: 4;
      }
      &--5 {
        order: 5;
      }
      &--6 {
        order: 6;
      }
      &--7 {
        order: 7;
      }
      &--8 {
        order: 8;
      }
      &--9 {
        order: 9;
      }
    }
    &__card {
      width: 1100px;
      height: 620px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 30px;
      padding-right: 30px;
      overflow: auto;
      &--open {
        display: block;
      }
      &_title {
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.35em;
        margin-top: 60px;
      }
      &_block {
        flex-wrap: nowrap;
        height: 400px;
        overflow: hidden;
      }
      &_price-block {
        order: 2;
        min-width: 280px;
        border: 0;
        padding-left: 30px;
      }
      &_content {
        order: 1;
        font-size: 18px;
        line-height: 29px;
        border-right: 1px solid $color-text;
        padding-right: 30px;
        overflow-y: scroll;
        p {
          &:first-child {
            margin-top: 0;
          }
        }
      }
      &_price {
        font-weight: bold;
        font-size: 48px;
        line-height: 65px;
        letter-spacing: 0.1em;
        margin-top: 0;
        margin-bottom: 20px;
      }
      &_btn {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
      }
      &_download {
        font-size: 20px;
        line-height: 33px;
        &::before {
          top: 8px;
        }
      }
      &_btn-close {
        width: 35px;
        height: 35px;
        top: 30px;
        right: 30px;
      }
    }
  }
}
@media ($big-desktop-width) {
  .products {
    align-items: flex-start;
    &__title {
      font-size: 48px;
      line-height: 65px;
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      &--left {
        text-align: left;
      }
    }
    &__items {
      width: 1300px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 30px;
      &_wrapper {
        justify-content: space-between;
      }
    }
    &__item {
      width: 30%;
      margin-bottom: 70px;
      &_img {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        margin-right: 20px;
      }
      &_title {
        font-size: 20px;
      }
      &_descr {
        font-size: 16px;
      }
      &:last-child {
        margin-bottom: 70px;
      }
    }
    &__card {
      width: 1536px;
      height: 880px;
      padding-left: 100px;
      &_title {
        font-size: 36px;
        line-height: 49px;
        letter-spacing: 0.35em;
      }
      &_block {
        flex-wrap: nowrap;
        height: 640px;
        overflow: hidden;
      }
      &_price-block {
        order: 2;
        min-width: 280px;
        border: 0;
        padding-left: 30px;
      }
      &_content {
        font-weight: 300;
        font-size: 20px;
        line-height: 33px;
        min-width: 976px;
        padding-right: 50px;
        border: 0;
      }
      &_price {
        font-size: 40px;
        line-height: 54px;
      }
    }
  }
}
