.promo {
  height: 100vh;
  min-height: 550px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  &__wrapper {
    @include container;
  }
  &__title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.35em;
    color: $color-text;
    margin-bottom: 0;
  }
  &__descr {
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 26px;
  }
}
@media ($mobile-width) {
  .promo {
    &__title {
      font-size: 28px;
      line-height: 42px;
      max-width: 500px;
      margin-top: 30px;
    }
    &__descr {
      font-size: 18px;
      line-height: 29px;
      max-width: 490px;
      margin-top: 40px;
    }
  }
}
@media ($tablet-width) {
  .promo {
    &__title {
      font-size: 42px;
      line-height: 58px;
      max-width: 700px;
      margin-top: 0;
    }
    &__descr {
      font-size: 18px;
      line-height: 29px;
      max-width: 490px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media ($desktop-width) {
  .promo {
    padding-top: 0;
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    &__title {
      font-size: 42px;
      line-height: 57px;
      text-align: left;
      max-width: 480px;
      margin-top: 0;
    }
    &__descr {
      font-size: 18px;
      line-height: 29px;
      text-align: left;
      max-width: 490px;
      margin-top: 40px;
      padding-left: 0;
      margin-left: 0;
    }
  }
}
@media ($big-desktop-width) {
  .promo {
    &__title {
      font-size: 72px;
      line-height: 98px;
      max-width: 830px;
    }
    &__descr {
      font-size: 20px;
      line-height: 33px;
      max-width: 740px;
      margin-top: 60px;
    }
  }
}
